@import url('./reset.less');

.signinContent{
  .title{
    text-align: center;
    padding-top: 20px;
    color:@mainColor;
    font-size:20px;
  }
  .sub_title{
    text-align: center;
    padding: 20px 0;
  }
}

.signupContent{
  .input_box{
    padding: 0 20%;
  }
}