
	.dynamic-content{
		overflow: hidden;
	}
	.relative_position{
		position: relative;
		z-index: 1;
	}
	.fix_position{
		position: fixed;
		top:0;
		z-index: 2;
	}
.show_main_tit{
	width: 100%;
	height: 3rem;
	background: #8262fa;
}
.show_main_tit ul{
	width: 100%;
	height: 3rem;
}
.show_main_tit ul li{
	width: 50%;
	height: 3rem;
	line-height: 3rem;
	float:left;
	text-align: center;
	cursor: pointer;
}
.show_main_tit ul li a{
	display: block;
	font-size: 1.2rem;
	color: rgba(255, 255, 255, 0.502);
}

.show_main_tit ul li:nth-of-type(1) a{
	padding-left: 2.7rem;
}
.show_main_tit ul li:nth-of-type(2) a{
	padding-right: 2.7rem;
}
.show_main_tit ul .active a span{
  font-weight: bold;
	color: #FFF;
  border-bottom: solid 3px #fff;
  padding-bottom: 5px;
}
.dynamic-main{
  padding: 19px 0 20px;
  position: relative;
}
.dynamic-list-main{
  padding-left:0;
  padding-right:0;
}
.dynamic-main_soild{
  border-top:solid 1px #ddd;
}
.dynamic-main .dynamic-tit{
  height: 42px;
  padding: 0 10px;
}
.dynamic-main .dynamic-tit img,.dynamic-main .dynamic-tit .bg{
  width: 40px;
  height: 40px;
  border-radius:50%;
  border:solid 1px #ddd;
  float:left;
  margin-right: 10px;
}
.dynamic-main .dynamic-tit .name{
  height: 40px;
  line-height:40px;
  font-size: 14px;
  color:#595959;
  float:left;
}
.dynamic-main .dynamic-tit a{
  width: 62px;
  height: 26px;
  background: #fff;
  line-height: 26px;
  text-align: center;
  color:#29cc96;
  border: solid 1px #29cc96;
  float: right;
  border-radius: 3px;
  margin-top: 5px;
}
.dynamic-main .dynamic-tit .active{
  background:#29cc96;
  color: #fff;
}
.dynamic-main .dynamic-content{
  padding:0 10px 8px 63px;
}
.dynamic-main .dynamic-content p{
  font-size: 16px;
  color: #595959;
  line-height: 22px;
  margin-top: 5px;
}
.dynamic-main .dynamic-content p img{
  max-width: 100%;
  max-height: 280px;
  cursor: pointer;
}
.dynamic-main .dynamic-content .list-img-box{
  display: -webkit-flex;
}
.dynamic-main .dynamic-content .list-img-box span,.dynamic-main .dynamic-content .list-img-box img{
  /* height: 30px;
  margin-bottom: 2px;
  display: block;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  cursor:pointer */
}
.dynamic-main .dynamic-content .list-img-box span:nth-of-type(1),.dynamic-main .dynamic-content .list-img-box span:nth-of-type(2){
  margin-right: 7px
}
.dynamic-main .dynamic-date{
  height: 15px;
  padding: 12px 10px 20px 63px;
}
.dynamic-main .dynamic-date span{
  float:left;
  color:#999;
  font-size: 13px;
  height: 18px;
  line-height: 18px;
}
.dynamic-main .dynamic-date a{
  height: 18px;
  line-height: 18px;
  float:left;
  color:#595959;
  font-size: 13px;
  margin-left: 10px;
}
.dynamic-action{
    display: -webkit-flex;
    border-bottom:solid 1px #ddd;
    border-top:solid 1px #ddd;
}
.dynamic-action a{
    height:40px;
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    display: block;
    display: -webkit-box;
    -webkit-box-pack: center;
    -webkit-box-align: center;
}
.dynamic-action a:nth-of-type(1){
  border-right: solid 1px #ddd;
}
.dynamic-action a span{
  width:19px;
  height: 19px;
  float:left;
  margin-right:6px;
}
/* .dynamic-action span:nth-of-type(1){
  background:url(../img/ico2.png) -24px -20px no-repeat;
  background-size:50px;
}
.dynamic-action a:nth-of-type(2) span{
  background:url(../img/ico2.png) -1px -39px no-repeat;
  background-size:50px;
}
.dynamic-action .submit-good .active{
  background:url(../img/ico2.png) -23px -39px no-repeat;
  background-size:50px;
} */
.dynamic-action a em{
  height: 18px;
  line-height: 18px;
  float:left;
}
.dynamic-date .right{
  float:right;
}
.dynamic-date .right div{
  float:left;
}
.dynamic-date .right div:nth-of-type(1){
  margin-right: 15px;
}
.dynamic-date .right div i{
  width: 18px;
  height: 15px;
  float:left;
  margin-right: 5px;
}
.dynamic-date div em{
  height: 15px;
  line-height: 15px;
  color:#999;
  font-size: 12px;
  float:left;
}
/* .dynamic-date .thumb-tip i{
  background: url(../img/ico2.png) -4px -3px no-repeat;
  background-size: 50px;
}

.dynamic-date .comment-tip i{
  background: url(../img/ico2.png) -1px -22px no-repeat;
  background-size: 50px;
} */
.dynamic-main .soild{
  margin-left: 53px;
  border: none;
  border-bottom: 1px solid #ddd;
}
.dynamic-info{
}
.dynamic-create-data{
  position: absolute;
  left:12px;
  top:23px;
}
.dynamic-create-data em{
  font-size: 24px;
  color:#333;
  display: block;
}
.dynamic-create-data i{
  font-size: 13px;
  color:#333;
  display: block;
}
.dynamic-last-year{
  height: 28px;
  line-height: 28px;
  background: #f7f7f7;
  font-size: 18px;
  padding-left:13px;
  color: #aaa;
  display: none;
}
.dynamic-info .dynamic-main{
  padding-bottom: 0;
  cursor: pointer;
  background-color: #FFF;
}
.dynamic-personal-bg{
  padding-top:34px;
  height: 163px;
  /* background: url(../img/dynamic-top-bg.png) center center no-repeat; */
  background-size:100%;
}
.dynamic-personal .img-box img{
  width:68px;
  height: 68px;
  border: solid 1px #fff;
  border-radius: 50%;
  margin: 0 auto;
}
.dynamic-personal .img-box span{
  width: 68px;
  height: 68px;
  border: solid 1px #fff;
  border-radius: 50%;
  margin: 0 auto;
  display: block;
}.dynamic-personal .name,.dynamic-personal .introduce{
  height: 20px;
  line-height: 20px;
  font-size: 18px;
  color:#fff;
  text-align: center;
}
.dynamic-personal .name{
  padding:15px 0 10px;
}
.dynamic-personal .introduce{
  font-size: 14px;
  display: none;
}
.dynamic-personal .info{
  display: -webkit-flex;
}
.dynamic-personal .info div{
  height:40px;
  webkit-box-flex:1;
  -webkit-flex:1;
}
.dynamic-personal .info{
  background: #030203;
  padding:10px 0;
}
.dynamic-personal .info div:nth-of-type(1),.dynamic-personal .info div:nth-of-type(2){
  border-right:solid 1px #fff;
}
.dynamic-personal .info div em,.dynamic-personal .info div i{
  color:#fff;
  display: block;
  text-align: center;
}
.dynamic-personal .info div em{
  height: 20px;
  line-height: 20px;
  font-size: 18px;
  padding-bottom: 8px;
}
.dynamic-personal .info div i{
  height: 15px;
  line-height: 15px;
  font-size: 13px;
  font-weight: bold;
}
.dynamic-list .load_tip{
    text-align: center;
    color: #666;
    font-size: 15px;
    height: 18px;
    line-height: 18px;
    padding-bottom: 10px;
    display: none;
    padding-top: 10px;
}
.dynamic-list .load_end{
    text-align: center;
    color: #666;
    font-size: 15px;
    height: 18px;
    line-height: 18px;
    padding-bottom: 10px;
    /* display: none; */
    padding-top: 10px;
}
.dynamic-none-text{
  width:100%;
  height: 100px;
  line-height:100px;
  text-align: center;
  color: #666;
  font-size: 16px;
  display: none;
}
.dynamic-list-main .dynamic-content{
  padding:0 11px 0 63px;
}
.dynamic-list-main .dynamic-date{
  padding: 12px 11px 20px 63px;
}
.dynamic-main .soild{
  margin-left: 63px;
}
.follow-personal{
  width: 100%;
  height: 50px;
  line-height: 50px;
  text-align: center;
  color:#fff;
  font-size: 16px;
  background:#29cc96;
  position: fixed;
  left:0;
  bottom:0;
  cursor: pointer;
  display: none;
  z-index: 999;
}
.thumbs-list-box{
  padding: 0 12px;
}
.thumbs-list-main{
    height: 30px;
    padding:15px 0;
}
.thumbs-list-main .left span{
    width:15px;
    height: 15px;
    float:left;
    margin-top:7px;
    margin-right: 25px;
    /* background: url(../img/ico2.png) -4px -3px no-repeat; */
    background-size:50px;
    margin-left: 13px;
}
.thumbs-list-main .left i{
    height: 30px;
    line-height: 30px;
    float:left;
    font-size: 14px;
    color:#595959;
}
.thumbs-list-main .jump-page{
  width: 25px;
  height: 25px;
  float:right;
  margin-top: 2px;
  /* background: url(../img/icon_detail_more.png) left top no-repeat; */
  background-size: 100%;
  display: none;
}
.thumbs-list-main .right{
  height: 30px;
  float:right;
  display: none;
}
.thumbs-list-main .right li{
  float:left;
  margin-right:5px;
  margin-top:2px;
}
.thumbs-list-main .right li img{
    width: 25px;
    height: 25px;
    border-radius: 50%;
}
.change-background{
  width: 100%;
  height: 10px;
  background: #f7f7f7;
}
.common-content{
  padding-bottom: 64px;
}
.common-content .big-content-title{
  height:16px;
  padding-top: 23px;
  padding-left: 12px;
  padding-bottom: 2px;
  margin-bottom: 19px;
}
.common-content .big-content-title span{
    width:15px;
    height: 15px;
    float:left;
    margin-right: 25px;
    /* background: url(../img/ico2.png) -4px -22px no-repeat; */
    background-size:50px;
}
.common-content .big-content-title div{
  height:16px;
  line-height: 16px;
  font-size:14px;
  color:#595959;
}
.common-content .big-content-info ul li .all-info{
  height: 42px;
  padding-right: 12px;
  overflow: hidden;
}
.common-content .big-content-info ul li .img-box{
    float:left;
    margin-right: 11px;
    cursor:pointer;
}
.common-content .big-content-info ul li .img-box img{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border:solid 1px #ddd;
    cursor:pointer;
}
.common-content .big-content-info .info{
  float:left;
}
.common-content .big-content-info .info .name{
  height: 16px;
  line-height: 16px;
  font-size: 14px;
  color: #595959;
  margin-top: 4px;
  margin-bottom: 3px;
}
.common-content .big-content-info .info span{
  height: 14px;
  line-height: 14px;
  font-size: 12px;
  color: #aaa;
}
.common-content .none_tip{
  width:100%;
  height: 110px;
  padding-bottom: 25px;
  color:#666;
  text-align:
  center;
  line-height: 100px;
  font-size: 14px;
  display: none;
  overflow: hidden;
}
.big-content-info ul li{
  padding:0 0 0 11px;
  margin-top: 19px;
}
.big-content-info ul li .methods{
  float: right;
}
.big-content-info ul li .methods i{
  width:15px;
  height: 15px;
  float:left;
  margin-right: 5px;
}
.big-content-info ul li .methods .content-nun{
  float:left;
  margin-right: 10px;
  cursor:pointer;
  padding: 5px 0 5px 5px;
}
.big-content-info ul li .methods .give-good{
  cursor:pointer;
  float:left;
  padding: 5px 0 5px 5px;
}
/* .big-content-info ul li .methods .content-nun i{
    background: url(../img/ico2.png) -4px -22px no-repeat;
    background-size:50px;
}
.big-content-info ul li .methods .give-good i{
    background: url(../img/ico2.png) -4px -3px no-repeat;
    background-size:50px;
}
.big-content-info ul li .methods .give-good .yes{
    background: url(../img/ico2.png) -22px -3px no-repeat;
    background-size:50px;
} */
.big-content-info ul li .methods em{
  color:#999;
  font-size: 12px;
  float:left;
}
.big-content-info ul li .discuss{
  line-height: 20px;
  color: #595959;
  font-size: 16px;
  padding-top: 8px;
  word-break: break-all;
}.big-content-info ul li .discuss span{
  font-size: 16px;
  color:#0091ff;
  word-break: break-all;
}
.big-content-info ul li .content-msg{
    padding-left: 53px;
    padding-right: 12px;
    overflow: hidden;
}
.big-content-info ul li .reply-comment{
  margin-top: 14px;
  padding: 7px 11px 4px;
  background: #f2f2f2;
  cursor: pointer;
}
.big-content-info ul li .reply-comment p{
  line-height: 20px;
  font-size:14px;
  color:#595959;
  margin-bottom: 2px;
  word-break: break-all;
}
.big-content-info ul li .reply-comment a{
  padding-top: 4px;
  padding-bottom:7px;
  display: block;
}
.big-content-info ul li .reply-comment p span,.big-content-info ul li .reply-comment a{
  color:#0091ff;
}
.big-content-info ul li .reply-comment p span{
  padding-right: 8px;
}
.big-content-info ul li .delete-box{
  height: 16px;
  margin-top: 11px;
  cursor: pointer;
}/*
.big-content-info ul li .delete-box span{
    width: 14px;
    height: 14px;
    background: url(../img/delete.png) left top no-repeat;
    background-size:14px;
    float:left;
    margin-right: 6px;
}*/
.big-content-info ul li .delete-box em{
  height: 16px;
  line-height:16px;
  font-size: 14px;
  color:#666;
  float:left;
  cursor: pointer;
}
.big-content-info ul li .solid{
  height: 1px;
  margin-top: 19px;
  background: #ddd;
  margin-left: 53px;
  overflow: hidden;
}
.common-layer{
  width: 100%;
  height: 0px;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 999999999999;
  overflow: hidden;
}
.layer-bg{
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  background: #000;
}
.common-layer .close_2{
  height: 14px;
  line-height: 14px;
  position: absolute;
  left: 50%;
  margin-left: -23px;
  bottom: 58px;
  padding-left:18px;
  font-size:14px;
  color:#fff;
  background: url(../img/colse.png) left top no-repeat;
  background-size:12px;
  z-index: 999999999;
}
.common-layer .picture-browse{
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top:0;
}
.common-layer .picture-browse-content,.common-layer .picture-browse-content ul{
  height: 100%;
}
.common-layer .picture-browse ul{
  width: 500%;
  min-height: 100%;
}
.common-layer .picture-browse li{
  width: 100%;
  min-height: 100%;/*
  padding: 60px 0;*/
  float: left;
  display:-webkit-box;
  -webkit-box-pack:center;
  -webkit-box-align:center;
  overflow: hidden;
}
.common-layer .picture-browse li img{
  max-width: 100%;
  max-height: 100%;
}
.common-layer .img-page{
  width: 100%;
  height: 18px;
  text-align: center;
  color:#fff;
  font-size: 16px;
  position: absolute;
  left:0;
  bottom: 86px;
}
.common-layer .img-page span,.common-layer .img-page em{
  color: #fff;
  font-size: 16px;
}
.dynamic-main .get_good{
	height: 48px;
	border-top: solid 1px #ddd;
	position: relative;
  cursor: pointer;
}
.dynamic-main .get_good a{
	height: 18px;
	line-height: 18px;
	color: #999;
  font-size: 13px;
	padding-left: 26px;
	margin-top: 15px;
	background: url(../img/good.png) left top no-repeat;
	background-size: 18px;
	position: absolute;
	left:50%;
	margin-left: -17px;
}
.dynamic-main .get_good .active{
	background: url(../img/good_active.png) left top no-repeat;
	background-size: 18px;
}
.division_bg{
	height: 12px;
	background:#f3f3f3;
}
.show_rank_title{
	height: 20px;
	line-height: 20px;
	color:#666;
	font-size: 18px;
	background: #eee;
  padding:13px 0 13px 12px;
}
.show_rank ul{
	padding-left: 10px;
	padding-right: 12px;
}
.show_rank ul li{
	height: 30px;
	padding: 15px 0;
	border-bottom: solid 1px #ddd;
}
.show_rank ul li span{
	width: 30px;
	height: 30px;
	line-height: 30px;
	font-size: 16px;
	text-align: center;
	border-radius: 50%;
	border: solid 1px #999;
	float: left;
	margin-right: 10px;
	color: #333;
}
.show_rank ul li .span_top{
	border: none;
	background: #f55327;
	color: #fff;
}
.show_rank ul li em{
	height: 30px;
	line-height: 30px;
	font-size: 16px;
	color: #595959;
	float: left;
}
.show_rank ul li a{
	height: 18px;
	line-height: 18px;
	font-size: 12px;
	float: right;
	margin-top: 7px;
	padding-left: 26px;
	background: url(../img/good.png) left top no-repeat;
	background-size: 18px;
	color: #999;
}
.show_rank ul li .active{
	background: url(../img/good_active.png) left top no-repeat;
	background-size: 18px;
}
.load_bg{
	width: 100%;
	padding-top:10px;
  /* display: none; */
  text-align: center;
}
.load_bg span{
	width: 28px;
	height: 28px;
	margin: 0 auto;
	background: url(../img/load.gif) left top no-repeat;
	background-size: 100%;
	display: block;
}