<%- include('../components/header') %>
<div class="homeContent">
  <link rel="stylesheet" href="/css/style.css">
  <p class="title">blog</p>
  <% if(name != null){ %>
    <p class="sub_title">author <%= name %></p>
  <% } else { %>
    <p class="sub_title">hello world</p>
  <% } %>
</div>
<%- include('../components/footer') %>
  