<%- include('../components/header') %>
<!-- 服务器静态路径根路径就是public -->

<div class="signinContent">
  <p class="title">blog</p>
  <% if(name != null){ %>
    <p class="sub_title">author <%= name %></p>
  <% } else { %>
    <p class="sub_title">hello world</p>
  <% } %>
</div>

<%- include('../components/footer') %> 