<%- include('../components/header') %>
<!-- 服务器静态路径根路径就是public -->
<link rel="stylesheet" href="/css/signin.css">
<p class="title">blog</p>
<p>author <%= name.toUpperCase() %></p>

<%- include('../components/footer') %>