* {
  margin: 0;
  padding: 0;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
  font: 14px "Lucida Grande", "Pingfang SC", Helvetica, Arial, sans-serif;
}
a {
  text-decoration: none;
}
img {
  display: block;
}
em {
  font-style: normal;
}
input {
  -webkit-user-select: auto;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none !important;
}
.dflex {
  display: flex;
  display: -webkit-flex;
}
.clearfix:after {
  content: "";
  display: block;
  clear: both;
}
.clearfix {
  zoom: 1;
}
.mine_btn {
  float: right;
}
.mine_btn:after {
  clear: both;
}
.header {
  position: relative;
}
.header .nav-setting {
  position: absolute;
  right: 30px;
  top: 35px;
  z-index: 999;
}
.header .nav-setting .ui.dropdown.button {
  padding: 10px 10px 0 10px;
  background-color: #fff !important;
}
.header .nav-setting .icon.bars {
  color: #000;
  font-size: 18px;
}
.signinContent .title {
  text-align: center;
  padding-top: 20px;
  color: #a18cd1;
  font-size: 20px;
}
.signinContent .sub_title {
  text-align: center;
  padding: 20px 0;
}
.signupContent .input_box {
  padding: 0 20%;
}
